{{ define "main" }}

{{ $id := .Params.regionId }}

{{ $rank := 68 }}
{{ $score := 76 }}
{{ $globalMeanScore := 72 }}
{{ $numRegions := 221 }}
{{ $name := .Params.title }}
{{ $futureState := "+17" }}
{{ $gobalFutureState := "+10" }}

{{ $goalSection := site.GetPage "goals" }}

<main class="full-width-page">

    <section class="full-width-page__section">
      <div class="score-gauge" data-region-id="{{ $id }}"></div>
        <p style="max-width:35rem; margin-top:3rem; text-align:center; margin:auto">
        The overall Ocean Health Index score for {{ $name }} is {{ $score }} out of 100, which is <b>higher</b> than the global average score of {{ $globalMeanScore }} out of 100.<p>
    </section>

    <section class="full-width-page__section">
      <h3>Overall Rank</h3>
      <p>Canada is ranked <span class="metric metric--small metric--circle metric--inline">{{ $rank }}</span> out of {{ $numRegions }} regions</p>
      <div class="region-rank-chart" data-region-id="{{ $id }}"></div>
    </section>

   

    <section class="full-width-page__section">
      <h3>Goal evalulation</h3>
      <p>Click on a goal to learn how it is calculated. 
        {{ with $goalSection.Permalink }}
        <a href="{{ . }}">Learn more about goals</a>
        {{ end }}
      </p>
      <div class="card-section" style="padding-bottom:10rem">
        <div class="region-aster" data-region-id="{{ $id }}"></div>
      </div>
    </section>

    <section class="full-width-page__section">
      <h3>Goal score comparison</h3>
      <p>
        The graph below compares the goal scores and overall average score year-to-year for
        {{ $numRegions }} regions. Antarctica and the Southern Ocean and the 15 High Seas sectors are not
        included because no scores are available for 2012 and 2013.
      </p>
      <div class="card-section">
        <div class="region-time-series" data-region-id="{{ $id }}"></div>
      </div>
    </section>

</main>

{{ end }}