{{ define "main" }}

{{ $id := .Params.regionId }}

{{ $rank := .Params.rank }}
{{ $score := .Params.meanScore | math.Round }}
{{ $globalMeanScore := .Params.globalMeanScore | math.Round }}
{{ $numRegions := .Params.numRegions }}
{{ $name := .Params.title }}

{{ $globalComparator := "higher than" }}
{{ if eq $score $globalMeanScore }}
  {{ $globalComparator = "equal to" }}
{{ else if lt $score $globalMeanScore }}
  {{ $globalComparator = "lower than" }}
{{ end }}

{{ $goalSection := site.GetPage "goals" }}

<main class="full-width-page">

    <section class="full-width-page__section">
      <div class="score-gauge" data-region-id="{{ $id }}"></div>
        <p style="max-width:35rem; margin-top:3rem; text-align:center; margin:auto">
        The overall Ocean Health Index score for {{ $name }} is {{ $score }} out of 100, which is <b>{{ $globalComparator }}</b> the global average score of {{ $globalMeanScore }}.<p>
    </section>

    <section class="full-width-page__section">
      <h3>Overall Rank</h3>
      <p>{{ $name }} is ranked <span class="metric metric--small metric--circle metric--inline">{{ $rank }}</span> out of {{ $numRegions }} regions</p>
      <div class="region-rank-chart" data-region-id="{{ $id }}"></div>
    </section>

    <section class="full-width-page__section">
      <h3>Goal evalulation</h3>
      <p>Click on a goal to learn how it is calculated. 
        {{ with $goalSection.Permalink }}
          <a href="{{ . }}">Learn more about goals</a>.
        {{ end }}
      </p>
      <div class="box-shadow-section">
        <div class="region-aster" data-region-id="{{ $id }}"></div>
      </div>
    </section>

    <section class="full-width-page__section">
      <h3>Score over time in comparison to other regions</h3>
      <p>
        The time series plot below compares {{ $name }}'s yearly score  to {{ $numRegions }} regions for the goal category shown in the dropdown menu.
        {{ $name }}'s score line is in dark blue, while the overall average score for all regions is in dark grey.
        Move your mouse over lines to highlight other regions' trends.
      </p>
      <div class="box-shadow-section">
        <div class="region-time-series" data-region-id="{{ $id }}"></div>
      </div>
    </section>

    <section class="full-width-page__section">
        {{ partial "regionsDropdown" (dict "label" "See scores for a different region") }}
    </section>

</main>

{{ end }}