/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local(""), url("../fonts/montserrat-v15-latin-100.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-100.woff") format("woff"); }

/* montserrat-100italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  src: local(""), url("../fonts/montserrat-v15-latin-100italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-100italic.woff") format("woff"); }

/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/montserrat-v15-latin-200.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-200.woff") format("woff"); }

/* montserrat-200italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  src: local(""), url("../fonts/montserrat-v15-latin-200italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-200italic.woff") format("woff"); }

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-v15-latin-300.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-300.woff") format("woff"); }

/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-v15-latin-300italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-300italic.woff") format("woff"); }

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); }

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-italic.woff") format("woff"); }

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-500.woff") format("woff"); }

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-600.woff") format("woff"); }

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-700.woff") format("woff"); }

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v15-latin-800.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-800.woff") format("woff"); }

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/montserrat-v15-latin-900.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-900.woff") format("woff"); }

html {
  font-size: 16px; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  line-height: 1.43;
  scroll-behavior: smooth;
  overflow-y: scroll;
  max-width: 100vw;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; }

p {
  line-height: 2rem;
  font-size: 1rem;
  text-align: justify;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  color: #333; }

::selection {
  background: #82828c;
  color: white; }

a {
  color: #1E40AF;
  text-decoration: none;
  font-weight: 500; }

a:hover {
  color: #5ddae5; }

h4 {
  transition: .2s ease; }

a h4:hover {
  color: #696972; }

.section {
  padding-top: 90px;
  padding-bottom: 90px; }
  .section-sm {
    padding-top: 40px;
    padding-bottom: 40px; }
  .section-title {
    margin-bottom: 30px; }

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.border-primary {
  border-color: #ededf1 !important; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: #212d5e;
  letter-spacing: .03em; }

h1, h2, h3, h4 {
  font-weight: 800;
  text-transform: uppercase; }

h5, h6 {
  font-weight: 700; }

blockquote {
  border-left: 3px solid #9ACED8;
  background-color: #daedef;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 2rem; }

.full-width-page {
  --padding: 2rem;
  padding: var(--padding);
  width: 100%;
  max-width: calc(1400px + (2 * var(--padding)));
  margin-right: auto;
  margin-left: auto; }
  .full-width-page__section {
    margin-top: 3rem;
    padding-top: 1rem;
    border-top: 1px solid #ededf1; }
    .full-width-page__section:first-of-type {
      border-top: none;
      margin-top: 0; }

.two-columns {
  display: grid; }
  @media only screen and (min-width: 900px) {
    .two-columns {
      grid-template-columns: 1fr 1fr;
      gap: 5rem; } }
  .two-columns__centered-column {
    display: grid;
    justify-items: center; }

.card-section {
  width: auto;
  padding: 1rem 3rem;
  box-shadow: 0 1px 11px -1px rgba(0, 0, 0, 0.18);
  border-radius: 4px; }

.metric {
  --size: 6.2rem;
  --color: #212d5e;
  line-height: var(--size);
  font-size: calc( var(--size) * 0.4);
  color: var(--color);
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.05em; }
  .metric--small {
    --size: 2.2rem; }
  .metric--circle {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color);
    color: white; }
  .metric--inline {
    display: inline-block; }

.index {
  display: flex;
  flex-direction: column;
  background-image: url("/images/bg-home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }
  .index__info {
    padding-top: 15rem;
    padding-left: 13rem;
    padding-bottom: 5rem; }
    .index__info__title {
      color: white;
      font-weight: 800;
      font-size: 5rem;
      text-transform: uppercase;
      margin: 0; }
    .index__info__subtitle {
      width: 60rem;
      color: white;
      font-weight: 400;
      font-size: 1.5rem; }
  .index__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .index__cards .card--white {
      position: relative;
      height: 22rem;
      padding: 2.5rem;
      padding-top: 0rem;
      width: 50rem;
      font-size: 1.2rem;
      background-color: white;
      background-image: url(/images/section-home-bg-1.png);
      background-repeat: no-repeat;
      background-position-x: 34rem;
      background-position-y: 6rem; }
    .index__cards .card--blue {
      position: relative;
      height: 22rem;
      padding: 2.5rem;
      padding-top: 0rem;
      width: 50rem;
      background-color: #1e2c5f;
      opacity: .9;
      font-size: 1.2rem; }
    .index__cards .card__title--white {
      color: white;
      font-size: 2.5rem; }
    .index__cards .card__title--blue {
      color: #212d5e;
      font-size: 2.5rem; }
    .index__cards .card__subtitle--white {
      color: white;
      width: 40rem; }
    .index__cards .card__subtitle--blue {
      color: #212d5e;
      width: 40rem; }
  .index__news {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
    padding-top: 3rem;
    row-gap: 1rem;
    width: min-content;
    padding-bottom: 3rem; }

.card-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 2rem; }
  .card-buttons__button--white {
    color: white;
    border: 2px solid white;
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem; }
  .card-buttons__button--blue {
    color: #212d5e;
    border: 2px solid #1e2c5f;
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2rem; }
  .card-buttons__button--white:hover {
    color: #212d5e;
    border: 2px solid #212d5e;
    background-color: white; }
  .card-buttons__button--blue:hover {
    color: white;
    border: 2px solid #212d5e;
    background-color: #212d5e; }

.home-title {
  color: white;
  flex: 0 0 100%; }

.home-content {
  background: linear-gradient(to bottom, #1e2c5e 0, rgba(30, 45, 95, 0.98) 5%, rgba(31, 46, 98, 0.83) 17%, rgba(31, 46, 98, 0.81) 18%, rgba(33, 49, 103, 0.69) 25%, rgba(39, 58, 123, 0.23) 50%, rgba(40, 59, 126, 0.17) 54%, rgba(41, 61, 130, 0.07) 60%, rgba(42, 62, 133, 0.02) 65%, rgba(42, 62, 133, 0.01) 66%, rgba(42, 62, 133, 0) 67%, rgba(42, 62, 133, 0) 100%); }

.button.download {
  height: 4rem;
  transition-duration: 0.4s;
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #212d5e;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  text-align: center; }

.button.download:hover {
  background-color: #212d5e;
  color: white; }

/**
 * nav.scss
 *
 * The main navigation element at the top of every page. The nav component uses a
 * hamburger menu on smaller (mobile) screens, and and a horizontal list of links with
 * drop down menus on larger (desktop) screens. Defines the appearance of both versions of
 * the nav and its main parts:
 *
 * - Logo
 * - Main menu
 * - Overlay
 * - Menu items
 * - Menu links
 * - Sub-menus
 * - Menu-button
 *
 * Related files:
 *  - Nav JS: assets/js/partials/nav/nav.js
 *  - Nav template: layouts/partials/nav.html
 *
 */
/**
 * Nav variables
 */
.nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  /**
   * Logo
   *
   * The website logo which links to the home page
   */
  /**
   * Main menu
   *
   * The list element that contains all the navigation links
   */
  /**
   * Menu items
   *
   * Top-level & sub-menu items (<li>)
   */
  /**
   * Menu links
   *
   * Top-level & sub-menu links (<a>)
   */
  /**
   * Sub-menus
   *
   * The dropdown/popout menus shown below the top-level items
   *
   */ }
  @media only screen and (min-width: 900px) {
    .nav {
      height: unset;
      padding: 1.5rem 2vw;
      align-items: center; } }
  .nav__logo {
    display: block;
    height: 3rem;
    position: absolute;
    top: 1rem;
    color: white; }
    .nav__logo:hover, .nav__logo:focus {
      color: #5ddae5; }
    @media only screen and (min-width: 900px) {
      .nav__logo {
        height: 4.5rem;
        position: unset; } }
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin: 0;
    list-style: none;
    overflow: auto;
    /**
     * Overlay
     *
     * Dark blue background that covers the page header when a sub-menu is open
     */ }
    @media only screen and (min-width: 900px) {
      .nav__menu {
        position: unset;
        justify-content: flex-end;
        flex-direction: row;
        gap: 1.5vw;
        padding: 0;
        overflow: visible; } }
    .nav__menu:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgba(26, 26, 55, 0.85);
      z-index: -1;
      will-change: opacity;
      transition: opacity 0.3s cubic-bezier(0.75, 0, 0.125, 1), visibility 0.3s cubic-bezier(0.75, 0, 0.125, 1);
      transition-delay: 200ms; }
      @media only screen and (min-width: 900px) {
        .nav__menu:before {
          visibility: hidden;
          opacity: 0;
          height: 19rem; } }
    .nav__menu.nav__menu--expanded::before, .nav__menu:hover:before, .nav__menu:focus:before {
      visibility: visible;
      opacity: 1; }
  .nav__item {
    display: block;
    list-style: none;
    margin: 0.5rem auto;
    padding: 0;
    position: relative;
    text-align: center;
    cursor: pointer; }
    @media only screen and (min-width: 900px) {
      .nav__item {
        min-width: unset;
        margin: 0;
        text-align: left;
        cursor: default; } }
    .nav__item--toplevel:hover > .nav__link {
      color: #5ddae5; }
      .nav__item--toplevel:hover > .nav__link:after {
        width: 100%; }
    .nav__item--current > .nav__link {
      color: #5ddae5;
      font-weight: 700; }
    .nav__item--submenu {
      text-align: left; }
      @media only screen and (min-width: 900px) {
        .nav__item--submenu {
          padding: 0.2rem 0; } }
  .nav__link {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s cubic-bezier(0.75, 0, 0.125, 1);
    transition-delay: 5s; }
    .nav__link:focus, .nav__link:hover {
      background-color: #1a1a37;
      color: #5ddae5; }
    .nav__link--toplevel {
      letter-spacing: .08em;
      position: relative;
      padding: 0 0 0.5rem 0;
      margin: 0.8rem;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.15rem;
      transition: all 0.3s cubic-bezier(0.75, 0, 0.125, 1);
      transition-delay: 200ms;
      text-shadow: 0 0 0.6em rgba(26, 26, 55, 0.85); }
      @media only screen and (min-width: 900px) {
        .nav__link--toplevel {
          margin: 0;
          font-size: 1.2rem;
          font-weight: 600; } }
      .nav__link--toplevel:after {
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        width: 0;
        position: absolute;
        height: 4px;
        background-color: #5ddae5;
        transition: all 0.3s cubic-bezier(0.75, 0, 0.125, 1);
        transition-delay: 200ms; }
      .nav__link--toplevel:focus:after {
        width: 100%; }
  .nav__submenu {
    display: none;
    margin: 0 auto;
    padding: 1rem 0 0.5rem;
    width: 100%;
    min-width: 9rem;
    max-width: 15rem; }
    @media only screen and (min-width: 900px) {
      .nav__submenu {
        position: absolute;
        top: -2px;
        left: 0;
        min-width: 12rem;
        padding: 1rem 0 0 0; } }
  @media only screen and (min-width: 900px) {
    .nav__item:last-of-type .nav__submenu {
      left: -3rem; } }
/**
 * Menu-button
 *
 * The hamburger menu icon that is clicked to show/hide the mobile menu
 */
.menu-button {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  width: 34.66666667px;
  height: 26px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none; }
  @media only screen and (min-width: 900px) {
    .menu-button {
      display: none; } }
  .menu-button__icon {
    transform: rotate(0deg);
    transition: .5s ease-in-out; }
  .menu-button__line {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    transform-origin: left center; }
    .menu-button__line:nth-child(1) {
      top: 0px; }
    .menu-button__line:nth-child(2) {
      top: 10px; }
    .menu-button__line:nth-child(3) {
      top: 20px; }
  .menu-button[aria-expanded=true] .menu-button__line:nth-child(1) {
    transform: rotate(45deg);
    top: -2px;
    left: 6px; }
  .menu-button[aria-expanded=true] .menu-button__line:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .menu-button[aria-expanded=true] .menu-button__line:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
    left: 6px; }
  .menu-button:hover .menu-button__line, .menu-button:focus .menu-button__line {
    background: #5ddae5; }

.column-center {
  border-bottom: 1px solid #1e2c5f; }
  .column-center__full-width-container {
    --padding: 5%;
    margin-left: calc( (var(60%)/2 * -1) + var(--padding));
    width: calc(100% + var(60%) - (2 * var(--padding))); }

.column-left {
  position: relative; }
  .column-left__title {
    border-top: 1px solid #212d5e;
    border-width: 0.25rem;
    margin: 3rem 5rem;
    font-size: 1.2rem;
    line-height: 1.7rem; }
  .column-left__logo {
    position: relative;
    width: 10rem;
    top: -8.5rem; }

.right-col-nav {
  border-top: 1px solid #1e2c5f;
  padding: 0.7rem; }

.right-nav-item {
  font-size: 0.875rem;
  color: #212d5e;
  -webkit-font-smoothing: antialiased; }

.default-section {
  display: grid;
  grid-template-columns: 12% auto 16%;
  gap: 3rem;
  padding: 2rem; }

/**
 * footer.scss
 *
 * The main footer element at the bottom of every page.
 *
 */
/**
 * Footer variables
 */
.footer {
  color: #212d5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid #ededf1; }
  .footer__content {
    --padding: 2rem;
    width: 100%;
    max-width: calc(1400px + (2 * var(--padding)));
    padding: var(--padding); }
    .footer__content--top {
      display: grid;
      grid-template-rows: repeat(3, auto);
      gap: 2rem;
      justify-items: center; }
    .footer__content--bottom {
      --padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
  .footer__logo {
    display: flex;
    height: 5rem;
    text-decoration: none; }
    .footer__logo:hover .logo {
      fill: #5ddae5; }
  .footer__legal {
    width: 100%;
    background-color: #daedef;
    border-top: 1px solid #ededf1;
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    opacity: 0.7; }
  .footer__legal-link {
    color: #212d5e;
    text-decoration: none; }
    .footer__legal-link:hover {
      color: #5ddae5; }
    .footer__legal-link:not(:last-child):after {
      content: "|";
      padding: 0 0.5rem 0 0.7rem; }

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
  padding-top: 3rem;
  row-gap: 1rem;
  width: min-content;
  padding-bottom: 3rem; }
  .cards__card {
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
    min-width: 0;
    overflow: hidden;
    position: relative;
    width: 27rem;
    word-wrap: break-word; }
    .cards__card--big {
      background-clip: border-box;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.18);
      border-radius: 0.25rem;
      display: flex;
      flex-direction: column;
      height: 30rem;
      min-width: 0;
      overflow: hidden;
      position: relative;
      width: 27rem;
      word-wrap: break-word; }
    .cards__card__body {
      background-clip: border-box;
      background-size: cover;
      flex: 1 1 auto;
      -webkit-font-smoothing: antialiased;
      transition: transform .5s ease-in-out; }
    .cards__card__button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      bottom: 0rem;
      height: 6.5rem;
      background-color: rgba(14, 33, 70, 0.9); }
      .cards__card__button--big {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        bottom: 0rem;
        height: 12rem;
        background-color: rgba(14, 33, 70, 0.9); }
      .cards__card__button__phrase {
        color: white;
        letter-spacing: 0.03rem;
        padding-left: 1rem; }
      .cards__card__button__text {
        color: white;
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing: 0.03rem;
        text-transform: uppercase; }
        .cards__card__button__text--padded {
          padding-left: 1rem;
          padding-right: 1rem;
          color: white;
          font-size: 1.25rem;
          font-weight: 800;
          line-height: 1.1;
          letter-spacing: 0.03rem;
          text-transform: uppercase; }
    .cards__card:hover .cards__card__body {
      transform: scale(1.02); }
    .cards__card:hover .cards__card__button__text {
      color: #14aac8; }

/**
 * socials.scss
 *
 * Social media links with icons
 *
 */
/**
 * Socials variables
 */
.socials {
  display: flex;
  justify-content: center; }
  .socials__link {
    text-decoration: none;
    margin: 0 0.5rem; }
  .socials__icon {
    height: 2rem;
    width: 2rem;
    fill: #212d5e; }
    .socials__icon:hover {
      fill: #5ddae5; }

.logo {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  fill: currentColor; }
  .logo--subtle {
    fill: grey;
    opacity: 0.2; }
  .logo--dark {
    fill: #212d5e; }

.single-news-container {
  border-bottom: 1px solid;
  padding-bottom: 2rem; }

.news-link {
  text-decoration: none; }

.news-read-more {
  text-decoration: none; }

.news-subtitle {
  color: black; }

.news-author {
  color: grey; }

.news-date {
  color: black;
  border-bottom: 1px solid; }

.assessment-area {
  border-bottom: 1px solid #212d5e; }

.assessment-title {
  color: #999; }

.assessment {
  margin-top: 1rem;
  border-bottom: 1px solid #212d5e;
  padding-bottom: 3rem; }

.individual-assessment {
  margin-top: 1rem;
  padding-bottom: 3rem; }

.assessment-head {
  display: flex;
  flex-direction: row; }

.assessment-name {
  color: black; }

.assessment-info {
  display: flex;
  flex-wrap: nowrap;
  color: black; }

.assessment-header {
  display: flex;
  flex-direction: row; }

.assessment-links {
  display: flex;
  flex-direction: row; }

.assessment-link-head {
  text-decoration: none;
  color: #3C6CF5; }

.assessment-link {
  text-decoration: none;
  color: #3C6CF5;
  padding-right: 1rem; }

.assessment-key {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap; }

.assessment-value {
  margin-top: 0; }

.ohi-plus-assessment-icon {
  height: 1rem;
  width: 1rem; }

.anchor-link-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid #212d5e; }

.assessment-anchor-links {
  text-decoration: none;
  flex: 1; }

.assessment-anchor-link-text {
  text-transform: none;
  color: #3C6CF5; }

/* page title */
.page-title-section {
  position: relative;
  height: 19rem;
  padding: 11rem 3rem 5rem;
  /* for headers with images */
  background-repeat: no-repeat;
  background-size: cover;
  /* for headers without images */
  background-color: #212d5e; }

.section-title {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
  font-weight: 800;
  letter-spacing: 0.03em;
  padding-top: 1.1rem;
  font-size: 2.9rem;
  max-width: 1400px;
  width: 100%;
  margin: auto; }
  .section-title:before {
    display: block;
    position: absolute;
    height: 4px;
    right: 0;
    bottom: 0;
    content: "";
    width: 2.2rem;
    top: 0;
    left: 2px;
    background-color: #fff; }

/* gradient */
.header-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #1e2c5e 0, rgba(30, 45, 95, 0.98) 5%, rgba(31, 46, 98, 0.83) 17%, rgba(31, 46, 98, 0.81) 18%, rgba(33, 49, 103, 0.69) 25%, rgba(39, 58, 123, 0.23) 50%, rgba(40, 59, 126, 0.17) 54%, rgba(41, 61, 130, 0.07) 60%, rgba(42, 62, 133, 0.02) 65%, rgba(42, 62, 133, 0.01) 66%, rgba(42, 62, 133, 0) 67%, rgba(42, 62, 133, 0) 100%); }

.sub-goals-banner {
  position: relative;
  top: 1rem;
  justify-content: center;
  text-align: center;
  clear: both;
  padding-top: 1rem;
  text-align: center;
  justify-content: center; }
  .sub-goals-banner__logo {
    height: 10rem; }
  .sub-goals-banner__text {
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    width: 100%;
    font-size: 3.5rem; }
  .sub-goals-banner__title {
    text-transform: uppercase;
    top: 1rem;
    position: absolute;
    width: 100%; }

.breadcrumb {
  color: grey;
  display: flex;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-bottom: 1rem; }

.breadcrumb-item {
  color: grey;
  text-decoration: none;
  padding-right: 0.5rem; }

.breadcrumb-item:visited {
  color: grey; }

.breadcrumb-item.current {
  color: #212d5e;
  font-weight: bold; }

.publication-section {
  color: grey; }

.csv-table {
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: 0.8rem;
  width: 100%;
  position: relative;
  margin: 2rem 0;
  box-shadow: 0 1px 11px -1px rgba(0, 0, 0, 0.18);
  border-radius: 4px; }
  .csv-table__header {
    border-bottom: 2px solid #ededf1;
    font-size: 0.85rem;
    color: #1a1a37;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    background-color: #9ACED8; }
  .csv-table__header-cell {
    padding: 1rem 0.5rem; }
  .csv-table__row {
    border-bottom: 1px solid #ededf1; }
    .csv-table__row:nth-child(odd) {
      background: #fafafa; }
  .csv-table__cell {
    color: #696972;
    line-height: 1.4;
    padding: 0.9rem; }
    .csv-table__cell:first-child {
      font-weight: bold; }

.people-container {
  position: relative;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
  padding-top: 3rem;
  row-gap: 1rem;
  width: min-content; }

.people-card {
  position: relative;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  height: 17rem;
  min-width: 0;
  overflow: hidden;
  width: 12rem;
  word-wrap: break-word; }

.person-card-body {
  position: relative;
  background-clip: border-box;
  background-size: cover;
  box-sizing: border-box;
  min-height: 1px;
  flex: 1 1 auto;
  padding: 0rem;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  transition: transform .5s ease-in-out; }

.card-text {
  text-align: center;
  vertical-align: middle;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.03rem;
  text-transform: uppercase; }

.person-info {
  position: absolute;
  width: 100%;
  bottom: 0rem;
  height: 5rem;
  background-color: rgba(14, 33, 70, 0.9);
  border-color: transparent; }

.person-info p {
  color: white;
  text-align: center; }

.person-name {
  margin: 0rem;
  font-size: 1rem; }

.person-title {
  font-size: 0.8rem; }

.people-card:hover {
  background-color: rgba(14, 33, 70, 0.9); }
  .people-card:hover .person-info {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 33, 70, 0.9);
    border-color: transparent; }

.buttons {
  display: flex;
  flex-direction: row; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  margin-right: 1rem;
  border: 1px solid #212d5e;
  text-transform: uppercase; }
  .button__text {
    color: #212d5e; }
  .button__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 800; }
  .button__icon {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    filter: invert(17%) sepia(8%) saturate(6167%) hue-rotate(197deg) brightness(94%); }

.button--small {
  height: 2rem;
  width: 10rem;
  border: 1px solid #212d5e; }
  .button--small__text {
    color: #212d5e; }
  .button--small__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 800; }

.button:hover {
  background-color: #212d5e; }
  .button:hover .button__text {
    color: white; }
  .button:hover .button__icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(145deg) brightness(104%) contrast(104%); }

/**
 * dropdown.scss
 *
 * Styles for an enhanced dropdown input element, used in some of the data visualizations.
 *
 * Related files:
 *  - assets/js/data-viz/dropdown.js
 *
 */
.dropdown {
  --dropdown-color-primary-dark: #696972;
  --dropdown-color-subtle-text: #adadb8;
  --dropdown-color-border: #ededf1;
  --dropdown-color-accent: #1E40AF;
  --dropdown-gutter: 0 1rem;
  --dropdown-border: 1.5px solid var(--dropdown-color-border);
  --dropdown-radius: 3px;
  --dropdown-size-icon: 2rem;
  --dropdown-item-padding: 0.5rem;
  --input-item-height: calc(var(--dropdown-size-icon) + (2 * var(--dropdown-item-padding)));
  --background-color: #fff;
  display: flex;
  position: relative;
  max-width: 100%;
  font-size: 1.1rem;
  /* Dropdown styling */ }
  .dropdown__input {
    display: flex;
    flex-direction: column;
    border: var(--dropdown-border);
    border-radius: var(--dropdown-radius);
    width: 100%;
    background-color: var(--background-color);
    cursor: pointer;
    min-height: var(--input-item-height); }
  .dropdown__input:hover {
    border-color: var(--dropdown-color-accent); }
  .dropdown__input--active {
    border-color: var(--dropdown-color-accent);
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important; }
  .dropdown__placeholder {
    padding: var(--dropdown-gutter);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .dropdown__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 20rem;
    width: 100%;
    margin-top: calc(var(--input-item-height) + 3px);
    overflow: auto;
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 0; }
  .dropdown__item {
    cursor: pointer;
    display: flex;
    align-items: center; }
  .dropdown__placeholder-text {
    width: 100%;
    display: flex;
    align-items: center; }
  .dropdown__placeholder:after {
    opacity: 0.5;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z'/%3E%3C/svg%3E");
    height: var(--input-item-height);
    width: calc(var(--input-item-height) * 0.4);
    padding-top: 1rem; }
  .dropdown__item, .dropdown__placeholder-text {
    padding: var(--dropdown-item-padding);
    min-height: var(--input-item-height); }
  .dropdown__item--child {
    padding-left: 4rem;
    color: var(--dropdown-color-subtle-text); }
  .dropdown__item--child:before {
    opacity: 0.5;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M19 15l-6 6-1.42-1.42L15.17 16H4V4h2v10h9.17l-3.59-3.58L13 9l6 6z'/%3E%3C/svg%3E");
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    margin-top: -0.25rem; }
  .dropdown__item:hover {
    background-color: var(--dropdown-color-accent);
    color: white; }
  .dropdown__subtext {
    font-weight: 400;
    font-size: 13px;
    color: var(--dropdown-color-subtle-text); }
  .dropdown__list--hidden {
    display: none; }
  .dropdown__icon {
    max-height: var(--dropdown-size-icon);
    max-width: var(--dropdown-size-icon);
    stroke: currentColor;
    fill: none;
    stroke-width: 4px;
    margin-right: 0.7rem; }

/**
 * regionsDropdown.scss
 *
 * Styles for the dropdown that shows a list of regions to navigate to
 *
 * Related files:
 *  - assets/js/data-viz/regionsDropdown.js
 *  - layouts/partials/regionsDropdown.html
 *  - layouts/shortcodes/regionsDropdown.html
 *
 */
.regions-dropdown__label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600; }

/**
 * numberSlider.scss
 *
 * Styles for an enhanced number slider input element, used in some of the data
 * visualizations.
 *
 * Related files:
 *  - assets/js/data-viz/numberSlider.js
 *
 */
.number-slider {
  --number-slider-color-progress: #1E40AF;
  --number-slider-color-handle: #1E40AF;
  --number-slider-color-bkg: #ededf1;
  --number-slider-color-label: #adadb8;
  --number-slider-color-label: #696972;
  --number-slider-handle-size: 14px;
  --number-slider-handle-border-radius: 2px;
  --number-slider-handle-margin-top: -20px;
  --number-slider-track-height: 8px;
  --number-slider-track-border-radius: 2px;
  position: relative;
  display: block;
  height: 2.5rem;
  max-width: 100%;
  /* REMOVE SLIDER STYLE DEFAULTS - input */
  /* REMOVE SLIDER STYLE DEFAULTS - input handle */
  /* REMOVE SLIDER STYLE DEFAULTS - track */ }
  .number-slider__values {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--number-slider-color-label); }
  .number-slider__value {
    position: absolute;
    top: 0;
    font-weight: bold;
    color: var(--number-slider-color-label);
    border-radius: var(--number-slider-handle-border-radius); }
  .number-slider__value > div {
    animation: bulge 0.3s ease-out; }
  .number-slider__background, .number-slider__progress, .number-slider__ticks {
    position: absolute;
    bottom: 5px;
    left: 0;
    height: var(--number-slider-track-height);
    pointer-events: none;
    border-radius: var(--number-slider-track-border-radius);
    z-index: -1; }
  .number-slider__background {
    width: 100%;
    background-color: var(--number-slider-color-bkg); }
  .number-slider__progress {
    background-color: var(--number-slider-color-progress); }
  .number-slider__ticks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--number-slider-handle-size) / 2); }
  .number-slider__tick {
    width: 2px;
    height: calc(var(--number-slider-track-height) / 2);
    border-radius: 50%;
    background-color: white; }
  .number-slider__label {
    transition: opacity 0.1s ease; }
  .number-slider__label.hidden {
    opacity: 0; }

@keyframes bulge {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
  .number-slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    margin: 5px 0; }
  .number-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none; }
  .number-slider input[type="range"]:focus {
    outline: none; }
  .number-slider input[type="range"]::-moz-focus-outer {
    border: 0; }
  .number-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--number-slider-handle-size);
    height: var(--number-slider-handle-size);
    background: var(--number-slider-color-handle);
    border-radius: var(--number-slider-handle-border-radius);
    cursor: pointer;
    margin-top: var(--number-slider-handle-margin-top);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .number-slider input[type="range"]:hover::-webkit-slider-thumb,
  .number-slider input[type="range"]:focus::-webkit-slider-thumb {
    transform: scale(1.2); }
  .number-slider input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: var(--number-slider-handle-size);
    height: var(--number-slider-handle-size);
    background: var(--number-slider-color-handle);
    border: none;
    border-radius: var(--number-slider-handle-border-radius);
    cursor: pointer;
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .number-slider input[type="range"]:hover::-moz-range-thumb,
  .number-slider input[type="range"]:focus::-moz-range-thumb {
    transform: scale(1.2); }
  .number-slider input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--number-slider-track-height);
    cursor: pointer;
    background: none;
    border-radius: var(--number-slider-track-border-radius); }
  .number-slider input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--number-slider-track-height);
    cursor: pointer;
    background: none;
    border-radius: var(--number-slider-track-border-radius); }
  .number-slider input[type="range"]:focus::-webkit-slider-runnable-track {
    background: none; }
  .number-slider input[type="range"]:active::-webkit-slider-runnable-track {
    background: none; }

/**
 * barChart.scss
 *
 * Styles for a basic bar chart, used to create the bar charts on region score pages.
 *
 * Related files:
 *  - assets/js/data-viz/barChart.js
 *
 */
.bar-chart {
  --bar-chart-color-bar: #1E40AF;
  --bar-chart-color-highlight: #5ddae5;
  width: 100%; }
  .bar-chart__plot {
    height: 100%;
    width: 100%; }
  .bar-chart__bar {
    fill: var(--bar-chart-color-bar); }
  .bar-chart__bar:hover {
    stroke: #5ddae5;
    fill: #5ddae5;
    stroke-width: 0.5px; }
  .bar-chart__bar--highlight {
    fill: #5ddae5; }

/**
 * tooltip.scss
 *
 * Styles for all tooltips
 *
 * Related files:
 *  - assets/js/data-viz/tooltip.js
 *
 */
.tooltip {
  --tooltip-color-bkg: #fff;
  --tooltip-color-border: #ededf1;
  --tooltip-color-text: #696972;
  --tooltip-border-radius: 4px;
  position: absolute;
  display: grid;
  padding: 0.35rem 0.5rem;
  align-items: center;
  pointer-events: none;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.25);
  border-radius: var(--tooltip-border-radius);
  background: var(--tooltip-color-bkg);
  border: solid var(--tooltip-color-border) 1px;
  color: var(--tooltip-color-text); }

/**
 * regionTooltip.scss
 *
 * Styles for the tooltips used to show the score for a region, used in multiple data
 * visualizations.
 *
 * Related files:
 *  - assets/js/data-viz/regionTooltip.js
 *
 */
.region-tooltip {
  grid-template-columns: max-content max-content;
  gap: 0.5rem; }

/**
 * globe.scss
 *
 * Styling for the globe that shows the OHI regions, used to create the interactive global
 * scores map.
 *
 * Related files:
 *  - assets/js/data-viz/globe.js
 *
 */
.globe {
  position: relative;
  display: grid;
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-height: 700px; }
  .globe svg {
    height: 100%;
    width: 100%; }
  .globe__water {
    fill: #f3f4f6;
    stroke: #e5e7eb;
    cursor: move; }
  .globe__land {
    fill: white;
    stroke: #e5e7eb;
    cursor: move; }
  .globe__region {
    stroke: #f9fafb;
    cursor: pointer;
    transition: fill 0.2s cubic-bezier(0.75, 0, 0.125, 1); }
  .globe__region:hover, .globe__region--focused {
    stroke: #9ca3af;
    z-index: 99999; }
  .globe__button {
    position: absolute;
    right: 0;
    bottom: 0;
    background: none;
    color: inherit;
    border: none;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
    outline: inherit;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }

/**
 * globalScores.scss
 *
 * Styling for the interactive global scores globe, with inputs for changing the year and
 * displayed goal
 *
 * Related files:
 *  - assets/js/data-viz/globalScores.js
 *
 */
.global-scores {
  --global-scores-color-bkg: #fff;
  --global-scores-color-chips: #fafafa;
  --global-scores-color-accent: #1E40AF;
  --global-scores-color-border: #ededf1;
  --global-scores-color-text: #696972;
  --global-scores-border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  gap: 1.5rem;
  padding: 2rem 0;
  position: relative;
  color: var(--global-scores-color-text); }
  .global-scores__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 5rem;
    row-gap: 2rem;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    z-index: 2; }
  .global-scores__legend {
    justify-self: right; }
  .global-scores__description {
    width: 100%;
    max-width: 80rem;
    margin: auto; }
  .global-scores__description-text {
    max-width: 35rem;
    margin: 0 0 0 1rem;
    font-size: 0.95rem;
    line-height: 1.45;
    color: #adadb8; }
  .global-scores__control {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem; }
  .global-scores__chips {
    width: 100%;
    grid-column: 1/-1;
    display: flex;
    justify-content: center; }
  .global-scores__chip {
    padding: 0 0.75rem;
    background-color: var(--global-scores-color-chips);
    color: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    display: inline-flex;
    margin: 0 0.4rem 0 0;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    border: 1px solid var(--global-scores-color-border); }
    .global-scores__chip:hover {
      color: var(--global-scores-color-accent); }
    .global-scores__chip--active {
      color: rgba(255, 255, 255, 0.85);
      background-color: var(--global-scores-color-accent);
      border: 1px solid var(--global-scores-color-accent); }
      .global-scores__chip--active:hover {
        color: rgba(255, 255, 255, 0.85); }
  .global-scores__label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600; }
  .global-scores__region-details {
    display: none;
    position: absolute;
    background-color: var(--global-scores-color-bkg);
    max-width: 20rem;
    border: 1px solid var(--global-scores-color-border);
    border-radius: var(--global-scores-border-radius);
    padding: 1.3rem;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    top: 13rem;
    right: 0;
    text-align: center; }
    .global-scores__region-details--visible {
      display: flex; }
  .global-scores__region-details-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    opacity: 0.4;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; }
    .global-scores__region-details-button svg {
      height: 15px;
      width: 15px;
      stroke-width: 8px; }
    .global-scores__region-details-button:hover {
      opacity: 0.8; }
  .global-scores__region-details-title {
    margin: 0.5rem 0 1.5rem 0; }
  .global-scores__region-details-paragraph {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--global-scores-color-text); }
  .global-scores__region-details-link {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 600; }

/**
 * aster.scss
 *
 * Styles for the basic aster plot, used to create the region aster plots on region
 * score pages.
 *
 * Related files:
 *  - assets/js/data-viz/aster.js
 *
 */
.aster {
  --aster-size-icon: 2.2rem;
  --aster-color-text: #696972;
  --aster-color-foreground-subtle: #ededf1;
  display: grid;
  /* a column for the plot, then legend */
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 3rem;
  align-items: center;
  margin: auto; }
  @media only screen and (min-width: 900px) {
    .aster {
      grid-template-columns: auto max-content; } }
  .aster__plot {
    margin: auto;
    max-width: 400px; }
    @media only screen and (min-width: 900px) {
      .aster__plot {
        max-width: unset; } }
  .aster__solid-arc:hover {
    transform: scale(1.025); }
  .aster__solid-arc {
    transition: all 0.25s;
    cursor: pointer; }
  .aster__solid-arc--dimmed {
    fill: var(--aster-color-foreground-subtle);
    opacity: 0.6; }
  .aster__outline-arc {
    stroke: var(--aster-color-foreground-subtle);
    stroke-width: 1px; }
  .aster__mean-score {
    color: var(--aster-color-text);
    line-height: 1;
    font-size: 3.5rem;
    font-weight: 800; }
  .aster__legend-list {
    font-size: 1.1rem;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0rem; }
  .aster__legend-item {
    display: grid;
    grid-template-columns: var(--aster-size-icon) auto;
    gap: 0.6rem;
    align-items: center;
    padding: 0.4rem 0;
    cursor: pointer;
    width: fit-content; }
  .aster__legend-item--dimmed {
    color: var(--aster-color-foreground-subtle) !important; }
  .aster__legend-icon {
    height: var(--aster-size-icon);
    width: var(--aster-size-icon);
    stroke: currentColor;
    stroke-width: 4.5px;
    margin-right: 0.7rem; }

/**
 * regionAster.scss
 *
 * Styles for the aster plot for specific regions.
 *
 * Related files:
 *  - assets/js/data-viz/regionAster.js
 *
 */
.region-aster__plot {
  max-width: 1000px; }

.region-aster__controls {
  max-width: 50rem;
  margin: auto;
  height: 100%;
  position: relative; }

.region-aster__control {
  height: 40px;
  margin-top: 1rem; }

.region-aster__label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  margin-bottom: 1rem; }

/**
 * timeSeries.scss
 *
 * Styles for the time series visualization.
 *
 * Related files:
 *  - assets/js/data-viz/timeSeries.js
 *
 */
.time-series {
  --time-series-color-highlight: #1E40AF;
  --time-series-color-line: #ededf1;
  --time-series-color-emphasis: #696972;
  --time-series-color-text: #696972; }
  .time-series__y-label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.4rem; }
  .time-series__axis {
    color: var(--time-series-color-text);
    opacity: 0.8;
    font-size: 0.5rem;
    stroke-width: 0.5; }
  .time-series__dot {
    fill: var(--time-series-color-highlight); }
  .time-series__line {
    fill: none;
    stroke-width: 0.7;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: var(--time-series-color-line);
    mix-blend-mode: multiply; }
    .time-series__line--subtle {
      stroke-width: 0.5;
      mix-blend-mode: normal; }
    .time-series__line--focus {
      stroke: var(--time-series-color-highlight);
      stroke-width: 2;
      mix-blend-mode: normal; }
    .time-series__line--highlight {
      stroke: var(--time-series-color-highlight);
      stroke-width: 2;
      mix-blend-mode: normal; }
    .time-series__line--emphasize {
      stroke: var(--time-series-color-emphasis);
      stroke-width: 1.3;
      mix-blend-mode: normal; }

/**
 * regionTimeSeries.scss
 *
 * Styles for the time series visualization with goal dropdown on region pages.
 *
 * Related files:
 *  - assets/js/data-viz/regionTimeSeries.js
 *
 */
.region-time-series__controls {
  display: grid;
  grid-template-columns: 100%;
  max-width: 30rem;
  z-index: 2; }

.region-time-series__control {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem; }

.region-time-series__label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600; }

/**
 * gauge.scss
 *
 * Styles for a gauge plot, showing a single metric on a possible range of values.
 *
 * Related files:
 *  - assets/js/data-viz/gauge.js
 *
 */
.gauge {
  --gauge-color-marker-label: #adadb8;
  --gauge-color-marker-label-hover: #696972;
  --gauge-color-label: #212d5e;
  --gauge-color-ticks: #fff;
  width: 100%;
  height: 25rem;
  margin: auto; }
  .gauge__plot {
    width: 100%;
    height: 100%; }
  .gauge__needle {
    opacity: 0.9;
    fill: var(--gauge-color-label);
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5)); }
  .gauge__metric {
    font-weight: 600;
    fill: var(--gauge-color-label); }
  .gauge__tick-label {
    fill: var(--gauge-color-marker-label);
    cursor: pointer; }
    .gauge__tick-label:hover {
      fill: var(--gauge-color-marker-label-hover); }
  .gauge__tick {
    fill: var(--gauge-color-ticks); }
