.bg-home{
  background-image: url('/images/bg-home.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  position: fixed;
  height: 100%;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: matrix(1, 0, 0, 1, 0, -1);
}

.footer {
  border-color: #494a43;
  padding-top: 275px;
}
