.breadcrumb {
  color: $text-color;
  display: flex;
  padding: 1rem 0;
  width: 100%;
  max-width: $max-content-width;
  margin: auto;
}

.breadcrumb-item {
  color: $text-color;
  text-decoration: none;
  padding-right: 0.5rem;
}
.breadcrumb-item:visited {
  color: $text-color;
}

.breadcrumb-item.current{
  color:$text-color-dark;
  font-weight: bold;
}
