
.cards {
  padding-top:2rem;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
}

.card {
  height: 20rem;
  width: 27rem;
}

.card-body {
  background-clip: border-box; 
  background-size: cover;
  padding: 0rem;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing:0.03rem;
  text-transform: uppercase;
  font-family: "Gotham A","Gotham B",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.card-text{
  color:white;
  text-align: center;
  vertical-align: middle;
}
.btn.btn-primary {
  position: absolute;
  
  width: 100%;
  bottom: 0rem;
  height: 5rem;
  background-color: rgba(14,33,70,.9);
  border-color: transparent;
}

.btn.btn-primary p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.btn.btn-primary:hover {
  background-color: rgba(14,33,70,.9);;
}

