// The cards are arranged in a grid
.cards {

  display: grid;
  gap: 1.5rem;
  justify-content: center;
  margin: auto;
  padding: 3rem 1rem;
  width: 100%;
  max-width: $max-content-width;
  grid-template-columns: 1fr 1fr;

  @include desktop {
    padding: 3rem 0;
    grid-template-columns: repeat(auto-fit, 27rem);
  }

  &__card {

    --cards-banner-height: 6.6rem;

    &--has-description{
      --cards-banner-height: 10rem;
    }

    &:hover{
      .cards__body{
        transform: scale(1.02);
      }
      .cards__overlay{
        display: flex;
      }
    }
    
    background-clip: border-box;
    background-color: #fff;
    box-shadow: 0 1px 8px -1px $dark-black;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    min-width: 0;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;

    &--big {
      height: 30rem;
    }
    
  }

  &__body {
    background-clip: border-box;
    background-size: cover;
    flex: 1 1 auto;
    transition: transform 0.5s ease-in-out;
    border-bottom: 1px solid $blue-grey;
    
  }

  // The dark text container that sits at the bottom of the card with centered text
  &__banner {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    width: 100%;
    height: var(--cards-banner-height);
    background-color: $dark-blue;
  }

  &__sub-title {
    color:white;
    letter-spacing:0.03rem;
  }

  &__title{
    width: 100%;
    color:white;
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__description {
    font-weight: 500;
    color: white;
    font-size: 0.95rem;
  }

  &__overlay{
    display: none;
    position: absolute;
    background-color: rgba($dark-blue, .85);
    height: calc(100% - var(--cards-banner-height));
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__overlay-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    --button-foreground-col: white;
    --button-background-col: #{$darker-blue};
  }
}