// The cards are arranged in a grid
.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
  padding-top:3rem;
  row-gap: 1rem;
  width: min-content;
  padding-bottom: 3rem;

  &__card {
    background-clip: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
    min-width: 0;
    overflow: hidden;
    position: relative;
    width: 27rem;
    word-wrap: break-word;

    &--big {
      background-clip: border-box;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      display: flex;
      flex-direction: column;
      height: 30rem;
      min-width: 0;
      overflow: hidden;
      position: relative;
      width: 27rem;
      word-wrap: break-word;
    }

    &__body {
      background-clip: border-box;
      background-size: cover;
      flex: 1 1 auto;
      -webkit-font-smoothing: antialiased;
      transition: transform .5s ease-in-out;
    }

    // The button sits at the bottom of the card with centered text
    &__button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      bottom: 0rem;
      height: 6.5rem;
      background-color: rgba(14,33,70,.9);

      &--big {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        bottom: 0rem;
        height: 12rem;
        background-color: rgba(14,33,70,.9);
      }

      &__phrase {
        color:white;
        letter-spacing:0.03rem;
        padding-left: 1rem;
      }

      &__text{
        color:white;
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing:0.03rem;
        text-transform: uppercase;

        &--padded {
          padding-left: 1rem;
          padding-right:1rem;
          color:white;
          font-size: 1.25rem;
          font-weight: 800;
          line-height: 1.1;
          letter-spacing:0.03rem;
          text-transform: uppercase;
        }
      }
    }

    &:hover & {
      &__body {
        transform: scale(1.02);
      }
      &__button{
        &__text {
          color: #14aac8;
        }
      }
    }
  }
}
