.footer-bottom-wrap{
  display: grid;
  grid-template-columns: 20% auto 20%;
  background-color: #ebebeb;
  height: 5rem;
  border-top: 1px solid rgba(30,44,94,.2); 
}

.footer-legal-links {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
