.single-news-container{
  border-bottom: 1px solid;
  padding-bottom: 2rem;
}

.news-link{
  text-decoration: none;
}

.news-read-more {
  text-decoration: none;
}

.news-subtitle{
  color: black;
}

.news-author{
  color:grey;
}

.news-date {
  color:black;
  border-bottom: 1px solid;
}