.single-news-container{
  border-bottom: 1px solid;
  padding-bottom: 2rem;
  margin-bottom: 4rem;

  &__date {
    margin-top: 0;
  }
}

.news-link{
  text-decoration: none;

  &__title {
    margin-bottom: 0;
  }
}

.news-read-more {
  text-decoration: none;
}

.news-subtitle{
  color: black;
  font-size: 1rem;
}

.news-author{
  color:grey;
}

.news-date {
  color:black;
  border-bottom: 1px solid;
}