.assessment-area {
  border-bottom: 1px solid rgba(30,44,94,.2);
  display: felx;
}

.assessment-title {
  color: #999;
}

.assessment {
  margin-top: 1rem;
  border-bottom: 1px solid rgba(30,44,94,.2);
  padding-bottom: 3rem;
}

.individual-assessment {
  margin-top: 1rem;
  padding-bottom: 3rem;
}
.assessment-head {
  display: flex;
  flex-direction: row;
}
.assessment-name {
  color: black;
}

.assessment-info {
  display: flex;
  flex-wrap: nowrap;
  color: black;
}

.assessment-header {
  display: flex;
  flex-direction: row;
}
.assessment-links {
  display: flex;
  flex-direction: row;
}

.assessment-link-head {
    text-decoration: none;
    color: #3C6CF5;
}
.assessment-link {
  text-decoration: none;
  color: #3C6CF5;
  padding-right: 1rem;
}

.assessment-key {
  font-weight: bold;
  margin-top:0;
  margin-bottom:0;
  white-space: nowrap;
}

.assessment-value {
  margin-top:0;
}

.ohi-plus-assessment-icon {
  height: 1rem;
  width: 1rem;
}

.anchor-link-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid rgba(30,44,94,.2);
}

.assessment-anchor-links {
  text-decoration: none;
  flex: 1;
}

.assessment-anchor-link-text {
  text-transform: none;
  color: #3C6CF5;
}
