.breadcrumb {
  color: grey;
  display: flex;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.breadcrumb-item {
  color: grey;
  text-decoration: none;
  padding-right: 0.5rem;
}
.breadcrumb-item:visited {
  color: grey;
}

.breadcrumb-item.current{
  color:$text-color-dark;
  font-weight: bold;
}
