.nav.top-nav {
  color: grey;
}

.top-nav-item {
  color: grey;
  text-decoration: none;
  padding-right: 0.5rem;
}
.top-nav-item:visited {
  color: grey;
}

.top-nav-item.current{
  color:$text-color-dark;
  font-weight: bold;
}
