/**
 * globalScores.scss
 *
 * Styling for the interactive global scores globe, with inputs for changing the year and
 * displayed goal
 *
 * Related files:
 *  - assets/js/data-viz/globalScores.js
 *
 */

.global-scores {

  --global-scores-max-width: 90rem;
  --global-scores-color-bkg: #{$body-color};
  --global-scores-color-chips: #{$body-color-darker};
  --global-scores-color-accent: #{$accent-color};
  --global-scores-color-border: #{$border-color};
  --global-scores-color-text: #{$text-color};
  --global-scores-border-radius: #{$border-radius};
  

  box-sizing: border-box;
  width: 100%;
  max-width: var(--global-scores-max-width);
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto;
  gap: 1.5rem;
  padding: 1.8rem; 
  // Need extra padding on right because the legend extends a little beyond svg boundaries
  padding-right: 2.5rem;
  // To absolutely position the region details container
  position: relative;
  color: var(--global-scores-color-text);

  @include desktop {
    padding-right: 6rem;
  }

  @include smaller-than-max-content {
    padding-right: 4rem;
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 5rem;
    row-gap: 2rem;
    width: 100%;
    margin: auto;
  }

  &__legend {
    justify-self: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__description {
    width: 100%;
    margin: auto;
  }

  &__description-text {
    max-width: 35rem;
    margin: 0 0 0 1rem;
    font-size: 0.95rem;
    line-height: 1.45;
    color: $text-color-light;
  }

  &__control {
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
  }

  &__chips {
    width: 100%;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
  }

  &__chip {
    padding: 0 0.75rem;
    background-color: var(--global-scores-color-chips);
    color: rgba(0, 0, 0, .4);
    border-radius: 2rem;
    display: inline-flex;
    margin: 0 0.4rem 0 0;
    align-items: center;
    font-size: 0.9rem;
    line-height: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    border: 1px solid var(--global-scores-color-border);

    &:hover{
      color: var(--global-scores-color-accent);
    }

    &--active{
      color: $cream;
      background-color: var(--global-scores-color-accent);
      border: 1px solid var(--global-scores-color-accent);

      &:hover{
        color: $cream;
      }
    }
  }

  &__label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
  }

  &__region-details{
    display: none;
    position: absolute;
    background-color: var(--global-scores-color-bkg);
    max-width: 20rem;
    border: 1px solid var(--global-scores-color-border);
    border-radius: var(--global-scores-border-radius);
    padding: 1.3rem;
    box-shadow: 0px 0px 9px -2px $dropdown-shadow;
    flex-direction: column;
    top: 13rem;
    right: 0;
    text-align: center;

    &--visible{
      display: flex;
    }

  }

  &__region-details-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    
    opacity: 0.4;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    svg {
      height: 15px;
      width: 15px;
      stroke-width: 8px;
    }
    
    &:hover{
      opacity: 0.8
    }
  }

  &__region-details-title{
    margin: 0.5rem 0 1.5rem 0;
  }

  &__region-details-paragraph{
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--global-scores-color-text);
  }

  &__region-details-link{
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 600;
    
  }

}
