/**
 * regionAster.scss
 *
 * Styles for the aster plot for specific regions.
 *
 * Related files:
 *  - assets/js/data-viz/regionAster.js
 *
 */

.region-aster {
  &__plot {
    max-width: 1000px;
  }

  &__controls {
    max-width: 50rem;
    margin: auto;
    height: 100%;
    position: relative;
  }

  &__control {
    height: 40px;
    margin-top: 1rem;
  }

  &__label {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
  }
}
