// Contains all of the content (without the nav or footer) on the index page.
// Set the display to flex to ensure proper positioning of the footer.
.index {
  display: flex;
  flex-direction: column;

  background-image: url(#{$baseUrl + "/images/bg-home.jpeg"});
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 10rem;
  color: white;

  @include desktop {
    padding-top: 18rem;
  }

  &__news {
    background-image: url(#{$baseUrl + "images/news-bg.jpg"});
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.section-separator {
  height: 15rem;
  background: url(#{$baseUrl + "images/bg-home-gradient.png"});
}

.index-header{

  width: 100%;
  max-width: $max-content-width;
  margin: auto;
  position: relative;
  padding: 0 1rem 4rem;


  // The title should be uppercase and fairly bold
  &__title {
    color: white;
    font-size: 3rem;
    margin: 0;
    position: relative;

    &--h1{
      font-weight: 900;
      font-size: 4.5rem;
    }

    // The horizontal white bar
    &:before{
      content: "";
      position: absolute;
      height: 0.25rem;
      width: 3rem;
      top: -0.9rem;
      left: 0.25rem;
      background-color: white;
    }
  }

  &__subtitle {
    line-height: 1.6;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    letter-spacing: .04em;
    text-shadow: 0 0 7px rgba(black, 0.4);
    font-weight: 500;
    margin: 0.5rem 0 0 0.3rem;

    @include desktop {
      width: 65%;
      font-size: 1.3rem;
    }

    @include smaller-than-max-content {
      width: 100%;
      margin-bottom: 3rem;
      font-size: 1.2rem;
    }
  }

  &__link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 1.2rem;
  }

}

// There are two link boxes, one with a white background and the other with
// a dark blue one. Text on the dark blue is white (so that it can be seen) and
// text on the white background is blue (so that it can be seen).
// To accommodate for these two situations, 'blue' and 'white' modifiers
// are given to many of the elements here.

// Since this holds each card and we want them side by side, set the display to flex
.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: calc( #{$max-content-width} + 3rem);
  margin: auto;
  padding: 0 2rem;

  @include desktop {
    padding: 0;
    flex-direction: row;
  }

  @include smaller-than-max-content {
    padding: 0 1rem;
  }
}
.box {

  --box-background-col: white;
  --box-foreground-col: #{$index-blue};
  --box-background-img: url(#{$baseUrl + 'images/section-home-bg-1.png'});

  &--blue{
    --box-background-col: #{rgba($index-blue, 0.9)};
    --box-foreground-col: white;
    --box-background-img: none;
  }

  position: relative;
  width: 100%;
  
  border-radius: $border-radius;
  box-shadow: 0 1px 8px -1px $dark-black;
  padding: 2rem 1.4rem 1rem;
  background-color: var(--box-background-col);
  color: var(--box-foreground-col);
  background-image: var(--box-background-img);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin-bottom: 0.8rem;

  @include desktop {
    width: 50%;
    height: 21rem;
    margin-bottom: 0;
    padding: 2.8rem 2.9rem;
  }

  &__title {
    color: var(--box-foreground-col);
    font-size: 1.5rem;
    letter-spacing: 0.01em;
    margin: 1rem 0 .9rem 0;
    position: relative;

    @include desktop {
      max-width: 50%;
      font-size: 2.25rem;
    }
    // The line above the title
    &:before{
      content: "";
      position: absolute;
      height: 0.25rem;
      width: 1.6rem;
      top: -1.2rem;
      left: 0.12rem;
      background-color: var(--box-foreground-col);
    }
  }

  &__subtitle {
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: 1.9rem;
    max-width: 30rem;

    @include desktop {
      font-size: 1.09rem;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  &__button{
    color: var(--box-foreground-col);
    border: 1px solid var(--box-foreground-col);
    font-size: .88rem;
    padding: 0.9rem 1.2rem;
    letter-spacing: .035em;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;

    @include desktop {
      margin-right: 1.5rem;
      margin-bottom: 0;
    }

    @include smaller-than-max-content {
      font-size: .75rem;
    }

    &:hover{
      color: var(--box-background-col);
      background-color: var(--box-foreground-col);
    }
  }

}