//
// Colors
// 
// ==========================================================================
$secondary-color: #1a1a37;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #212d5e;
$body-color: #fff;
$border-color: #ededf1;
$quote-body-color: #daedef;
$quote-border-color: #9ACED8;
$highlight-color: #5ddae5;
$accent-color: #1E40AF;

//
// Fonts
// 
// ==========================================================================
$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

//
// Sizing
// 
// ==========================================================================

// For boxes with rounded corners
$border-radius: 4px;

// The height of the page header element - used in both nav.scss and the page-header.scss
$page-header-height: 19rem;

// Screen width at which to switch from mobile style rules to desktop styles. If this is
// changed, the value that is passed to the JS files in baseof.html should also be
// changed.
$breakpoint: 900px;