//
// Colors
// 
// ==========================================================================
$secondary-color: #1a1a37;
$text-color: #696972;
$text-color-light: #adadb8;
$text-color-dark: #212d5e;
$body-color: #fff;
$body-color-darker: #fafafa;
$border-color: #ededf1;


$subtle-accent-color: #daedef;
$subtle-accent-color-darker: #9ACED8;
$highlight-color: #5ddae5;
$accent-color: #1E40AF;
$light-dark-grey: #e9ecf2;
$grey-blue: #9ca3af;
$dark-grey-blue: #d4d7de;
$light-grey: #e5e7eb;
$light-light-black: rgba(black, 0.2);
$light-black: rgba(black, 0.3);
$light-dark-black: rgba(0,0,0,0.25);
$lighter-black: rgba(black, 0.4);
$lightest-black: rgba(0, 0, 0, 0.15);
$cream: rgba(255, 255, 255, .85);

// The hue of blue that's used throughout the index page
$index-blue: rgb(30,44,94.9);
// A dark shade that's close to black
$dark-black: rgba(0,0,0,0.23);
// A dark shade of blue
$dark-blue: rgba(14,33,70,.9);
// A darker shade blue 
$darker-blue: rgba(14,33,70,.6);
// An offwhite color that is a little brown?
$brown-white: #999;
// The color of blue links
$link-blue: #3C6CF5;
// A light shade of teal
$light-teal: #14aac8;
// A shade of blue that's close to being grey
$blue-grey: #3e4d6b;
$light-dark-blue: rgba($dark-blue, .85);
//
// Fonts
// 
// ==========================================================================
$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

//
// Sizing
// 
// ==========================================================================

// For boxes with rounded corners
$border-radius: 4px;

// The height of the page header element - used in both nav.scss and the page-header.scss
$page-header-height: 19rem;

// Screen width at which to switch from mobile style rules to desktop styles. If this is
// changed, the value that is passed to the JS files in baseof.html should also be
// changed.
$breakpoint: 900px;

// Maximum width of content. For very wide screens, we need to limit the width of the
// content, so that paragraphs and lines of text don't extend to a length that's
// uncomfortable for reading.
$max-content-width: 1400px;

$header-gradient: linear-gradient(
  to bottom,
  #1e2c5e 0,
  rgba(30, 45, 95, 0.98) 5%,
  rgba(31, 46, 98, 0.83) 17%,
  rgba(31, 46, 98, 0.81) 18%,
  rgba(33, 49, 103, 0.69) 25%,
  rgba(39, 58, 123, 0.23) 50%,
  rgba(40, 59, 126, 0.17) 54%,
  rgba(41, 61, 130, 0.07) 60%,
  rgba(42, 62, 133, 0.02) 65%,
  rgba(42, 62, 133, 0.01) 66%,
  rgba(42, 62, 133, 0) 67%,
  rgba(42, 62, 133, 0) 100%
);

$submenu-background-color: rgba( $secondary-color, .85);
$dropdown-shadow: rgba(0, 0, 0, 0.2);
$globe-button-shadow: rgba(0, 0, 0, 0.3);
$gauge-grey: rgba(255, 255, 255, .5);