//
// Colors
// 
// ==========================================================================
$secondary-color: #1a1a37;
$text-color: #696972;
$text-color-light: #adadb8;
$text-color-dark: #212d5e;
$body-color: #fff;
$body-color-darker: #fafafa;
$border-color: #ededf1;

$subtle-accent-color: #daedef;
$subtle-accent-color-darker: #9ACED8;
$highlight-color: #5ddae5;
$accent-color: #1E40AF;

// The hue of blue that's used throughout the index page
$index-blue: rgb(30,44,94.9);
// A dark shade that's close to black
$dark-black: rgba(0,0,0,0.18);
// A dark shade of blue
$dark-blue: rgba(14,33,70,.9);
// An offwhite color that is a little brown?
$brown-white: #999;
// The color of blue links
$link-blue: #3C6CF5;
// A light shade of teal
$light-teal: #14aac8;

//
// Fonts
// 
// ==========================================================================
$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

//
// Sizing
// 
// ==========================================================================

// For boxes with rounded corners
$border-radius: 4px;

// The height of the page header element - used in both nav.scss and the page-header.scss
$page-header-height: 19rem;

// Screen width at which to switch from mobile style rules to desktop styles. If this is
// changed, the value that is passed to the JS files in baseof.html should also be
// changed.
$breakpoint: 900px;

// Maximum width of content. For very wide screens, we need to limit the width of the
// content, so that paragraphs and lines of text don't extend to a length that's
// uncomfortable for reading.
$max-content-width: 1400px;
