<!DOCTYPE html>
<html lang="en-US">
{{- partial "head.html" . -}}

<body>
	{{- partial "header.html" . -}}
	{{ if not .IsHome }}
	{{ partial "page-header.html" . }}
	{{ end }}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
  {{ with resources.Get "js/main.js" }}
    {{/* breakpoint: Screen width at which to switch from mobile style rules to desktop styles. If this is changed, then the value in _variables.scss should also be changed. */}}
    {{ $jsParams := dict "breakpoint" 900 }}
    {{ $script := . | js.Build (dict "params" $jsParams) }}
    <script src="{{ $script.RelPermalink }}" async></script>
  {{ end }}
</body>

</html>