{{ define "main" }}

  {{- $page := . -}}
  {{- $hasCards := ne $page.Params.cards false -}}
  {{- $hasCardsTitle := and $hasCards $page.Params.cards_title -}}

  <section class="section">
    {{- partial "layout/left-col.html" . -}}
    {{- partial "layout/center-col.html" . -}}
    {{- partial "layout/right-col.html" . -}}
  </section>

  {{- if $hasCardsTitle -}}
    {{- partial "cards-title" . -}}
  {{- end -}}

  {{- if $hasCards -}}
    {{- partial "cards" (dict "page" . ) -}}
  {{- end -}}
  

{{ end }}
