.column-center {
  border-bottom: 1px solid rgba(30,44,94,.2);

  &__full-width-container{
    --padding: 5%;
    margin-left: calc( (var(60%)/2 * -1) + var(--padding) );
    width: calc(100% + var(60%) - (2 * var(--padding)));
  }
}

