.column-center {

  --col-width: 60%;

  width: var(--col-width);
  float: left;
  border-bottom: 1px solid rgba(30,44,94,.2);

  &__full-width-container{
    --padding: 5%;
    margin-left: calc( (var(--col-width)/2 * -1) + var(--padding) );
    width: calc(100% + var(--col-width) - (2 * var(--padding)));
  }
}

