.column-left {
  position: relative;

  &__title {
  border-top: 1px solid $text-color-dark;
  border-width: 0.25rem;
  margin: 3rem 5rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
  }

  &__logo {
    position: relative;
    width: 10rem;
    top: -8.5rem;
  }
}
