.column-right {
  padding-left: 1rem;;
}

.right-col-nav {
  border-top: 1px solid rgba(30,44,94,.2);
  padding: 0.7rem;
}

.right-nav-item {
  font-size: 0.875rem;
  color: $text-color-dark;
  -webkit-font-smoothing: antialiased;
}