<div class = "cards">
  {{ range .Pages }}
    {{if not (fileExists .Params.bg_image)}}
      {{errorf "Failed to generate card image because the following file was not found." .Params.bg_image }}
    {{end}}
    {{ $imageResource := ($.Site.GetPage "section" $.Site.Params.images ).Resources.GetMatch (strings.TrimPrefix (printf "/%s/" $.Site.Params.images) .Params.bg_image ) }}
    {{ $imageResource = $imageResource.Fill "870x640" }}
      <a href= "{{ .Permalink }}" div class="card">
        <span class="card-body" style="background-image: url({{$imageResource.RelPermalink}});">
        </span>
        <div class="btn btn-primary"><p class="card-text">{{ .Params.name }}</p></div>
      </a>
  {{end}}
</div>
