<!-- footer -->
<footer>
  <div class="footer-bottom-wrap" style="background-color: #ebebeb; padding: 20px 0 0; height: 75px; border-top: 1px solid rgba(30,44,94,.2); ">
    <div class="container" style="width: 1020px;">
            <div class="footer-copyright" style="float: left; padding-left: 10px;">©<script>document.write(new Date().getFullYear());</script> Ocean Health Index</div>
            <div class="footer-legal-links" style="float: right; text-align: right;">
                <a class="footer-privacy" href="/privacy-policy">Privacy Policy</a>
                |
                <a class="footer-tos" href="/terms-of-service">Terms of Service</a>
            </div>
    </div>
</div>
</footer>
