<!-- footer -->
<footer>
  <div class="footer-bottom-wrap">
    <div class="footer-container">
            <div class="footer-copyright">©<script>document.write(new Date().getFullYear());</script> Ocean Health Index</div>
            <div class="footer-legal-links">
                <a class="footer-privacy" href="/privacy-policy">Privacy Policy</a>
                |
                <a class="footer-tos" href="/terms-of-service">Terms of Service</a>
            </div>
    </div>
</div>
</footer>
