<nav class="navbar">
  
  <h1 class="logo">OHI</h1>

  <ul class="menu">
    {{ range site.Menus.main }}

      {{ if .HasChildren }}
        <li class="menu__item">
          <button class="menu__link">{{ .Name }}</button>
          <ul class="submenu">
            {{ range .Children }}
              <li class="submenu__item">
                <a href="{{ .URL | absLangURL }}" class="submenu__link">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </li>

      {{ else }}
        <li class="menu__item">
          <a class="menu__link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        </li>
      {{ end }}

    {{ end }}
  </ul>
</nav>