.goals-table {
  border-collapse:collapse;
  width:80%;
}

.goals-table-head {
  
}

.goals-table-row:nth-child(1){
  border-bottom: 2pt solid grey;
}

.goals-table-row{
  border-bottom: 1pt solid black;
  padding-bottom: 1rem;
}
.goals-table-content{
  padding-right: 2rem;
  padding-bottom: 1rem;
  vertical-align: text-top;
  font-size: 1.0rem;
}

.goals-table-content:nth-child(1) {
    
}

.goals-table-head {
  
}