{{ $text := .Get "text" }}
{{ $link := .Get "link" }}
{{ $icon := .Get "icon" }}

{{ $isExternal := false }}

{{ $imageResource := partial "functions/getImageResource" $link }}
{{ $dataResource := partial "functions/getDataResource" $link }}

{{ if hasPrefix $link "http" }}
  {{ $isExternal = true }}
{{ else if $imageResource }}
  {{ $link = $imageResource.Permalink }}
{{ else if $dataResource }}
  {{ $link = $dataResource.Permalink }}
{{ else }}
  {{ $link = ref . $link }}
{{ end }}

<a class="button" href="{{ $link }}" {{ if $isExternal }}target="_blank"{{ end }}>
  {{ $text }}
  {{ with $icon }}
    <img class="button__icon" src="{{ . | absURL }}" alt="Icon">
  {{ end }}
</a>