{{ $path := .Get "path" }}
{{ $path := strings.TrimPrefix "/" $path }}
{{ $path := strings.TrimPrefix "content" $path }}
{{ $path := strings.TrimPrefix "/" $path }}
{{ $path := strings.TrimPrefix "data" $path }}
{{ $path := strings.TrimPrefix "/" $path }}

{{ $path = path.Join "content" "data" $path}}
{{ $rows := getJSON $path }}

{{range $key, $val := $rows}}
<section class="supporter-table">
  <h3 class="supporter-head">{{$key}}</h3>
    <p>
      {{ delimit $val ", "}}
    </p>
</section>
{{end}}
