{{ define "main" }}

<section class="component-page">
  <section class="section">
    <div class="row" style="margin-left: 0rem;">
      {{- partial "layout/left-col.html" . -}}
      {{- partial "layout/center-col.html" . -}}
      {{ .Scratch.Set "name" "METHODOLOGY" }}
      {{- partial "layout/right-col.html" . -}}
    </div>
    
    <!--
    <div class="column-center">
      <button class="button download">
        <a href="/DOESNOTEXIST" target="_blank"></a>
        <span>Download the 2016 Results</span>
      </button>
      <button class="button download">
        <a href="/DOESNOTEXIST" target="_blank"></a>
        <span>Download the Paper</span>
      </button>
    </div>
    -->
    {{- partial "cards.html" . -}}
  </section>
</section>

{{end}}